html,
body {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  background: #ef6c70;
  font-family: 'Kiwi Maru', serif;
}

div {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}


h1{
  color: white;
  margin: 16px;
  font-size: min(2em,7vw);
  text-align: center;
}

main{
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main > h3{
  color: white;
  width:300px;
  margin-bottom: 0;
}
#main_contents{
  width:300px;
  margin: 32px;
  display: block;
}

#main_contents > div{
  width: 100%;
  height: 10vh;
  background-color: white;
  color: #ef6c70;
  margin: 8px;
  font-size: 2rem;
  transform: translateY(-10%);
}

#main_btn{
  background-color: #00aa9f;
  width:300px;
  height:10%;
  cursor: pointer;
}

.btn1{
  position: absolute;
  margin: 20px;
  z-index: 10;
  padding: 5px;
  font-size: 200%;
  outline: 2px solid white;
  cursor: pointer;
}

#menus_list_btn {
  bottom: 0;
  left: 0;
}

#settings_btn {
  bottom:0;
  right: 0;
}

#close_menus_list,#close_settings {
  display: none;
  position: fixed;
  z-index: 30;
  bottom: 0;
  right: 0px;
  margin: 20px;
  color: white;
  cursor: pointer;
  font-size: 200%;
}


#menus_list ,#settings{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  display: block;
  transform: translateY(100%);
  transition-duration: 300ms;
  background-color: #00aa9f;
  z-index: 20;
  overflow-y: auto;
  overflow-x: hidden;
}

#menus_lst{
  flex-direction: column;
}


#menus_list>div {
  position: relative;
  width: 100%;
  padding: 10px;
}

#menus_list>div>div {
  display: block;
  padding: 10px;
  border-left: 3px solid #ef6c70;
}
#menus_list>div>div:first-child{
  width: 70%;
}
#menus_list>div>div:last-child{
  width: 30%;
}